<!-- Mirrored from davur.dexignzone.com/dashboard/page-order.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 11 Mar 2022 17:31:33 GMT -->
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	<meta name="description" content="Davur - Restaurant Bootstrap Admin Dashboard + FrontEnd" />
	<meta property="og:title" content="Davur - Restaurant Bootstrap Admin Dashboard + FrontEnd" />
	<meta property="og:description" content="Davur - Restaurant Bootstrap Admin Dashboard + FrontEnd" />
	<meta property="og:image" content="https://davur.dexignzone.com/xhtml/page-error-404.html" />
	<meta name="format-detection" content="telephone=no">
    <title>Davur - Restaurant Bootstrap Admin Dashboard + FrontEnd </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../../admin/images/favicon.png">
    <link href="../../admin/vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../../admin/vendor/chartist/css/chartist.min.css">
    <link href="../../admin/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="../../admin/css/style.css" rel="stylesheet">
	<link href="../../admin/vendor/cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
	<link href="../../admin/vendor/owl-carousel/owl.carousel.css" rel="stylesheet">
</head>