{{#if friend_msg_success}}
<div class="mx-auto">
    <div class="alert alert-success d-flex align-items-center" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
  <div>
    &nbsp;&nbsp;{{friend_msg_success}}
  </div>
  </div>
</div>
{{/if}}

{{#if friend_msg_decline}}
<div class="mx-auto">
    <div class="alert alert-danger d-flex align-items-center" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
  <div>
    &nbsp;&nbsp;{{friend_msg_decline}}
  </div>
  </div>
</div>
{{/if}}

{{#if friend_msg_remove}}
<div class="mx-auto">
    <div class="alert alert-warning d-flex align-items-center" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
  <div>
    &nbsp;&nbsp;{{friend_msg_remove}}
  </div>
  </div>
</div>
{{/if}}