<div class="deznav">
            <div class="deznav-scroll">
				<ul class="metismenu" id="menu">
                    <li><a class=" ai-icon" href="dashboard" aria-expanded="false">
							<i class="flaticon-381-networking"></i>
							<span class="nav-text">Dashboard</span>
						</a>
                    </li>
					<li><a class=" ai-icon" href="friends" aria-expanded="false">
							<i class="flaticon-381-networking"></i>
							<span class="nav-text">Friends</span>
							<span class="badge badge-xs badge-danger">New</span>
						</a>
                    </li>
                    <li><a class=" ai-icon" href="chat" aria-expanded="false">
							<i class="flaticon-381-television"></i>
							<span class="nav-text">Chat Up With Friends</span>
						</a>
                    </li>
					<li><a class=" ai-icon" href="groups" aria-expanded="false">
							<i class="flaticon-381-user"></i>
							<span class="nav-text">Meet Up With Groups</span>
						</a>
                    </li>
                    <li><a class=" ai-icon" href="track" aria-expanded="false">
							<i class="flaticon-381-controls-3"></i>
							<span class="nav-text">Track Friends</span>
						</a>
                    </li>
					<li><a class="ai-icon" href="profile" aria-expanded="false">
							<i class="flaticon-381-notepad"></i>
							<span class="nav-text">View Account Profile</span>
						</a>
                    </li>
                    <li><a class=" ai-icon" href="logout" aria-expanded="false">
							<i class="flaticon-381-internet"></i>
							<span class="nav-text">Logout</span>
						</a>
                    </li>
                </ul>
            
				<div class="add-menu-sidebar">
					<img src="../admin/images/icon1.png" alt=""/>
					<p>Organize your menus through button bellow</p>
					<a href="javascript:void(0);" class="btn bg-white text-black">+ Add Menus</a>
				</div>
				<div class="copyright">
					<p><strong>Davur - Restaurant Admin Dashboard</strong> © 2021 All Rights Reserved</p>
					<p>Made with <span class="heart"></span> by DexignZone</p>
				</div>
			</div>
        </div>